{% extends 'base.html.twig' %}

{% block title %}ObjectFiles{% endblock %}

{% block body %}
    <h1>ObjectFiles</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ object_file.id }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ object_file.file }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ object_file.createdAt ? object_file.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ object_file.updatedAt ? object_file.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_object_files_index') }}">back to list</a>

    <a href="{{ path('app_object_files_edit', {'id': object_file.id}) }}">edit</a>

    {{ include('object_files/_delete_form.html.twig') }}
{% endblock %}
