{% extends 'base_back.html.twig' %}

{% block title %}Détails Catégorie{% endblock %}

{% block body %}
    <div class="flex bg-gray-100 min-h-screen">
        {% block sidebar %}
            {% include 'back/_sidebar.html.twig' %}
        {% endblock %}
        <div class="flex-grow text-gray-800">
            {% block header %}
            {% include 'back/_header.html.twig' %}
            {% endblock %}

            {% block main %}
                <main class="p-6 sm:p-10 space-y-6">
                    <nav class="rounded-md w-full">
                        <ol class="list-reset flex">
                            <li><a href= {{ path('back_app_category_index') }} class="text-purple-600 hover:text-purple-700">Liste</a></li>
                            <li><span class="text-gray-500 mx-2">></span></li>
                            <li class="text-gray-500">Détails</li>
                        </ol>
                    </nav>
                    <div class="flex flex-col space-y-6 md:space-y-0 md:flex-row justify-between"> 
                        <div class="mr-6">
                            <h1 class="text-4xl font-semibold mb-2">Gestion de catégories</h1>
                            <h2 class="text-gray-600 ml-0.5">Détails de catégorie</h2>
                        </div>
                        <div class="flex flex-wrap items-start justify-end -mb-3">
                            <a type="button" href="{{ path('back_app_category_edit', {'id': category.id}) }}" class="inline-flex px-5 py-3 text-purple-600 hover:text-purple-700 focus:text-purple-700 hover:bg-purple-100 focus:bg-purple-100 border border-purple-600 rounded-md mb-3">
                                <i class="flex-shrink-0 h-5 w-5 -ml-1 mt-0.5 mr-2 fa-solid fa-pen-to-square"></i>
                                Editer
                            </a>
                            {{ include('back/category/_delete_form.html.twig') }}
                        </div>
                    </div>
                    <section>
                        <div class="flex justify-center">
                            <div class="block p-6 rounded-lg shadow-lg bg-white w-lg">
                                <div class="flex flex-col">
                                    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                                        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                                            <div class="overflow-hidden">
                                                <table class="min-w-full">
                                                    <thead class="border-b bg-purple-100">
                                                        <tr>
                                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                            ID
                                                        </th>
                                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                            Libellé
                                                        </th>
                                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                            Description
                                                        </th>
                                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                            Création le
                                                        </th>
                                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                            Edition le
                                                        </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="border-b">
                                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                            {{ category.id }}
                                                        </td>
                                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                            {{ category.name }}
                                                        </td>
                                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                            {{ category.description }}
                                                        </td>
                                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                            {{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}
                                                        </td>
                                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                            {{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}
                                                        </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>           
                </main>
            {% endblock %}
        </div>
    </div>
{% endblock %}
