{{ form_start(form) }}
<div class="sm:container mx-auto">
  <div class="flex mx-auto">
    <div class="bg-gray-50/50 backdrop-blur-sm border border-gray-100 shadow-lg shadow-purple-300/40 w-2/5 p-5 rounded-lg h-auto mx-auto mt-2">

     <div class="flex flex-wrap -mx-3 md:mx-auto">
        <div class="w-full px-3 md:mb-0 my-2">
          <label class="block tracking-wide mb-2 text-gray-700">Pseudo</label>
            {{ form_widget(form.name, {'attr': {'class': 'appearance-none block w-full border-indigo-300 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500', 'placeholder' : 'nom'}})}}
        </div>
      </div>

      <div class="flex flex-wrap -mx-3 md:mx-auto">
        <div class="w-full px-3 md:mb-0 my-2">
          <label class="block tracking-wide mb-2 text-gray-700">Email</label>
          	{{ form_widget(form.email, {'attr': {'class': 'appearance-none block w-full border-indigo-300 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white', 'placeholder' : 'email'}})}}
        </div>
      </div>

      <div class="flex flex-wrap -mx-3 md:mx-auto">
        <div class="w-full px-3 md:mb-0 my-2">
          <label class="block tracking-wide mb-2 text-gray-700">Mot de passe</label>
            {{ form_widget(form.plainPassword, {'attr': {'class': 'appearance-none block w-full border-indigo-300 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500', 'placeholder' : 'Nouveau mot de passe', 'type' : 'password'}})}}
        </div>
      </div>

      <div class="flex flex-wrap -mx-3 md:mx-auto mb-2">
        <div class="px-3 md:mb-0 my-2 w-full">
          <label class=" inline-block whitespace-nowrap tracking-wide mb-2 text-gray-700">Photo de profil</label>
            {{ form_widget(form.imageFile, {'attr': {'class': 'shadow-inner shadow-indigo-300/50 block rounded py-3 px-4 leading-tight focus:outline-none focus:border-gray-500 w-full'}} )}}
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 md:mx-auto">
        <div class="w-full px-3 md:mb-0 my-2">
          <label class="block tracking-wide mb-2 text-gray-700">Categories</label>
            <ul>
                {% for choice in form.category %}
                <li class="list-none">
                    {{ form_widget(choice, { 'attr': {'class': 'checkbox-input'} }) }}
                    {{ form_label(choice) }}
                </li>
                {% endfor %}
            </ul>
        </div>
      </div>
      <div class="space-x-2 m-4 flex justify-center">
        <button type="submit" class="inline-block px-6 py-2.5 bg-gradient-to-r from-indigo-600 to-violet-600 text-white font-medium text-xs uppercase rounded shadow-md shadow-violet-300 hover:shadow-lg hover:shadow-violet-300">Modifier</button>
      </div>
    </div>
  </div>
</div>
{{ form_end(form) }}
