{% extends 'base.html.twig' %}

{% block title %}
  Profil
{% endblock %}

{% block body %}
  <div class="sm:container md:mx-auto flex-auto overflow-hidden">
    <div class="flex md:mx-auto h-full">
      <div class=" flex flex-col justify-center  bg-white/50 backdrop-blur-sm w-1/5 rounded-lg mr-[1rem] ml-[4rem] mt-[2rem] mb-8 border border-gray-100 shadow-lg shadow-purple-300/40">
        <div class="rounded-lg m-8 max-w-[12rem] mx-auto">
          {% if user.image %}
          	<img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="{{ user.name }}">
          {% else %}
            <img class="rounded-lg" src="https://png.pngtree.com/png-clipart/20210608/ourlarge/pngtree-dark-gray-simple-avatar-png-image_3418404.jpg" rel="profil-picture" />
          {% endif %}
        </div>
        <div class="rounded-lg m-8 max-w-[12rem] mx-auto">
          <p class="font-semibold">{{ user.name }}</p>
          <p class="font-thin">{{ user.email }}</p>
          <p>Membre depuis le {{ user.createdAt|date('m/d/Y') }}</p>

          <div class="flex flex-col flex-wrap content-center mt-6">
          <a class="flex justify-center py-2.5 bg-gradient-to-r from-indigo-600 to-violet-600 uppercase font-medium text-xs shadow-md shadow-violet-300 hover:shadow-lg hover:shadow-violet-300 text-white rounded" href="{{ path('front_profil_edit') }}">Modifier le profil</a>
          {{ include('front/profil/_delete_form.html.twig') }}
          </div>
        </div>
      </div>
      <div class="bg-gray-50/50 backdrop-blur-sm w-4/5 rounded-lg ml-[1rem] mr-[4rem] mt-[2rem] mb-8 overflow-y-scroll pb-4 border border-gray-100 shadow-lg shadow-purple-300/40 h-auto">
        <div class="mx-auto m-[2rem] flex justify-center">
          <a class="bg-gradient-to-r from-indigo-600 to-violet-600 uppercase shadow-md shadow-violet-300 hover:shadow-lg hover:shadow-violet-300 text-white py-2 px-4 rounded" href="{{ path('front_app_items_new') }}">Ajouter un objet</a>
        </div>
        <!-- Cards des objets! -->
        <h3 class="font-medium leading-tight text-3xl mt-0 mb-2 text-gray-400 uppercase ml-[9rem]">Mes objets</h3>
        {% include 'front/items/index.html.twig' %}
      </div>
    </div>
  </div>
{% endblock %}
