{% extends 'base.html.twig' %}

{% block title %}
  Se connecter
{% endblock %}

{% block body %}
  <form method="post">
    {% if app.user %}
      {% include 'front/home/index.html.twig' %}
    {% endif %}

    {% if not app.user %}
      <section class="h-full gradient-form bg-white-200 mt-20">
        <div class="container h-full mx-auto">
          <div class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800">
            <div class="xl:w-10/12">
              {% if error %}
            <div class="bg-red-100 rounded-lg py-5 px-6 text-base text-red-700 mb-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
           {% endif %}
              <div class="block bg-white shadow-lg shadow-indigo-500/20 rounded-lg">
                <div class="lg:flex lg:flex-wrap g-0">
                  <div class="lg:w-6/12 px-4 md:px-0">
                    <div class="md:p-12 p-4 md:mx-6">
                      <div class="text-center">
                        {# <img class="mx-auto w-48" src="" alt="logo"/> #}
                        <h4 class="text-xl font-semibold mt-1 mb-12 pb-1">Match<span class="text-indigo-800">N</span>Collect</h4>
                      </div>
                      <form>
                        <p class="mb-4">Se connecter</p>
                        <div class="mb-4">
                          <input type="email" name="email" value="{{ last_username }}" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="E-mail" autocomplete="email"  required autofocus/>
                        </div>
                        <div class="mb-4">
                          <input type="password" name="password" id="inputPassword"  class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Mot de passe" required />
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                        <div class="text-center mb-3 pb-1">
                          <button class="inline-block bg-gradient-to-r from-indigo-600 to-violet-600 px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase rounded shadow-md shadow-violet-300 hover:shadow-lg hover:shadow-violet-300" type="submit" data-mdb-ripple="true" data-mdb-ripple-color="light">Se connecter</button>
                        </div>
                        <a class="text-gray-500/60 text-sm" href="{{ path('front_app_forgot_password_request') }}">Mots de passe oublié ?</a>
                        <div class="flex items-center justify-between pb-6">
                          <p class="mb-0 mr-2">Pas encore inscrit ? <a  href="{{ path('front_app_register')}}" class="text-blue-600 hover:text-blue-700 transition duration-300 ease-in-out mb-4">S'inscrire</a></p>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="lg:w-6/12 flex items-center lg:rounded-r-lg rounded-b-lg lg:rounded-bl-none bg-gradient-to-r from-indigo-600 to-violet-600">
                    <div class="text-white text-center px-4 py-6 md:p-12 md:mx-6">
                      <h4 class="text-xl font-semibold mb-6">Connectez-vous dès maintenant pour explorer une communauté de collectionneurs passionnés et échanger des trésors rares !</h4>
                      <p class="text-sm">Rejoignez une communauté animée par la passion pour les objets de collection et découvrez des pièces uniques que vous ne trouverez nulle part ailleurs.
Élargissez votre réseau de collectionneurs en échangeant vos objets de valeur et découvrez de nouveaux horizons pour votre collection.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      {# <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>
      <label for="inputEmail">Email</label>
      <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus /><br />
      <label for="inputPassword">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required /><br />
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" /><br />
      <a href="{{ path('front_app_forgot_password_request') }}" class="text-blue-600 hover:text-blue-700 transition duration-300 ease-in-out mb-4">Mot de passe oublié ? cliques sur ce lien.</a><br /><br /> #}

      {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
      {# <button type="submit" class="inline-block px-6 py-2.5 bg-gray-200 text-gray-700 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-gray-300 hover:shadow-lg focus:bg-gray-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-400 active:shadow-lg transition duration-150 ease-in-out">Log in</button> #}
    {% endif %}
  </form>
{% endblock %}
