{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}

    <div class="flex flex-col max-h-screen bg-inherit">

        <div class="flex justify-around items-center sticky top-0 z-10 h-20 border-black border-opacity-25 border-b">
            <div class="bg-white rounded-full h-3/4 w-20 flex items-center">
                <img src="{{ chattingWith.profilPicturePath }}">
            </div>
            <p class="underline cursor-pointer">{{ chattingWith.name }}</p>
            <button class="rounded-3xl bg-violet-700 text-white p-4">Échange</button>
        </div>

        <div id="message-list" class="overflow-y-auto overflow-x-hidden">
            {% for message in messages %}
                {% if message.sender.id == app.user.id %}
                    <div class="self flex flex-col items-end">
                        <div class="border-violet-700 border-2 p-4 mb-4 mr-4 rounded-3xl">
                            <p class="message-content mb-2">{{ message.content }}</p>
                            <p class="message-date text-xs">{{ message.creationDate|date('d/m/Y - H:i') }}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="other flex flex-col items-start">
                        <div class="bg-violet-700 text-white p-4 mb-4 ml-4 rounded-3xl">
                            <p class="message-content mb-2">{{ message.content }}</p>
                            <p class="message-date text-xs">{{ message.creationDate|date('d/m/Y - H:i') }}</p>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <p id="empty">C'est vide par ici...</p>
            {% endfor %}
        </div>
      
        <div class="flex justify-center items-center fixed h-20 bottom-0 bg-inherit w-full border-black border-opacity-25 border-t">
            <form id="message-form" class="w-full flex justify-center">
                <input type="text" id="message-input" class="rounded-3xl w-2/4 mr-10" placeholder="Entrez votre message" name="message"/>
                <button id="send-message-button" class="rounded-3xl bg-violet-700 text-white p-4">Envoyer</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        // passing twig variable to other script
        const mercurePublicUrl = "{{ mercure_public_url }}";
        const msgSendUrl = "{{ path('front_chat_send') }}"
        const channelId = parseInt("{{ channelId }}")
        const connectedUserId = parseInt("{{ app.user.id }}")
    </script>
    {{ encore_entry_script_tags('chat') }}
{% endblock %}
