{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}

    <h1>Chat with : {{ chattingWith.name }}</h1>

    <div id="message-list">
        {% for message in messages %}
            {% if message.sender.id == app.user.id %}
                <div class="self">
                    <p class="message-content">{{ message.content }}</p>
                    <p class="message-date">{{ message.creationDate|date('d/m/Y - H:i') }}</p>
                </div>
            {% else %}
                <div class="other">
                    <p class="message-content">{{ message.content }}</p>
                    <p class="message-date">{{ message.creationDate|date('d/m/Y - H:i') }}</p>
                </div>
            {% endif %}
        {% else %}
            <p id="empty">C'est vide par ici...</p>
        {% endfor %}
    </div>
  
  <div id="message-inputs">
    <input type="text" id="message-input" name="message"/>
    <button id="send-message-button">send</button>
  </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        // passing twig variable to other script
        const mercurePublicUrl = "{{ mercure_public_url }}";
        const msgSendUrl = "{{ path('front_chat_send') }}"
        const channelId = "{{ channelId }}"
        const connectedUserId = "{{ app.user.id }}"
    </script>
    {{ encore_entry_script_tags('chat') }}
{% endblock %}
