{% extends 'base_back.html.twig' %}

{% block title %}Demande de vérifications{% endblock %}

{% block body %}
    <div class="flex bg-gray-100 min-h-screen">
        {% block sidebar %}
            {% include 'back/_sidebar.html.twig' %}
        {% endblock %}
        <div class="flex-grow text-gray-800">
            {% block header %}
                {% include 'back/_header.html.twig' %}
            {% endblock %}

            {% block main %}
                <main class="p-6 sm:p-10 space-y-6">
                    <div class="flex flex-col space-y-6 md:space-y-0 md:flex-row justify-between">
                        <div class="mr-6">
                            <h1 class="text-4xl font-semibold mb-2">Gestion de demande de vérification</h1>
                            <h2 class="text-gray-600 ml-0.5">Liste</h2>
                        </div>
                    </div>
                    {% block message %}
                        {% include 'back/_message.html.twig' %}
                    {% endblock %}

                    <section>
                        <div class="flex justify-center">
                            <div class="block p-6 rounded-lg shadow-lg bg-white w-lg">
                                <div class="flex flex-col">
                                    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                                        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                                            <div class="overflow-hidden">
                                                <table class="min-w-full">
                                                    <thead class="border-b bg-purple-100">
                                                        <tr>
                                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                            ID
                                                        </th>
                                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                            Utilisateur
                                                        </th>
                                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                            Item
                                                        </th>
                                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                            Message
                                                        </th>
                                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                            Status
                                                        </th>
                                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                            Image
                                                        </th>
                                                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                                            Action
                                                        </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for verification_request in verification_requests %}
                                                            <tr class="border-b">
                                                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                                {{ verification_request.id }}
                                                            </td>
                                                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                                {{ verification_request.requestedBy }}
                                                            </td>
                                                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                                {{ verification_request.itemRequested }}
                                                            </td>
                                                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                                {{ verification_request.message }}
                                                            </td>
                                                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                                {% if verification_request.status == "Accepté" %}
                                                                    <span class="inline-block whitespace-nowrap rounded-[0.27rem] bg-success-100 px-[0.65em] pt-[0.35em] pb-[0.25em] text-center align-baseline text-[0.75em] font-bold leading-none text-success-700">
                                                                        Accepté
                                                                    </span>
                                                                {% elseif verification_request.status == "En cours" %}
                                                                    <span class="inline-block whitespace-nowrap rounded-[0.27rem] bg-warning-100 px-[0.65em] pt-[0.35em] pb-[0.25em] text-center align-baseline text-[0.75em] font-bold leading-none text-warning-800">
                                                                        En cours
                                                                    </span>
                                                                {% else %}
                                                                    <span class="inline-block whitespace-nowrap rounded-[0.27rem] bg-danger-100 px-[0.65em] pt-[0.35em] pb-[0.25em] text-center align-baseline text-[0.75em] font-bold leading-none text-danger-700">
                                                                        Annulé
                                                                    </span>
                                                                {% endif %}
                                                            </td>
                                                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                               <!-- Button trigger modal -->
                                                                <button type="button" data-te-toggle="modal" data-te-target="#image-modal" id="modal-btn" class="inline-block rounded-full bg-primary p-2 uppercase leading-normal text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-600">
                                                                <i class="fa-solid fa-images"></i>
                                                                </button>

                                                                <!-- Modal -->
                                                                <div data-te-modal-init class="fixed top-0 left-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none" id="image-modal" tabindex="-1" aria-labelledby="exampleModalXlLabel" aria-modal="true" role="dialog">
                                                                    <div data-te-modal-dialog-ref class="pointer-events-none relative w-auto translate-y-[-50px] opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:max-w-[500px] min-[992px]:max-w-[800px]">
                                                                        <div class="pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none">
                                                                        <div class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4">
                                                                            <h5 class="text-xl font-medium leading-normal text-neutral-800" id="exampleModalXlLabel">
                                                                            Image de preuves
                                                                            </h5>
                                                                            <button type="button" class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none" data-te-modal-dismiss aria-label="Close">
                                                                                <svg
                                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                                    fill="none"
                                                                                    viewBox="0 0 24 24"
                                                                                    stroke-width="1.5"
                                                                                    stroke="currentColor"
                                                                                    class="h-6 w-6">
                                                                                    <path
                                                                                    stroke-linecap="round"
                                                                                    stroke-linejoin="round"
                                                                                    d="M6 18L18 6M6 6l12 12" />
                                                                                </svg>
                                                                            </button>
                                                                        </div>
                                                                        <div class="relative p-4" id="modal-body">
                                                                            <!-- Carousel -->
                                                                            <div id="image-carousel" class="relative" data-te-carousel-init data-te-carousel-slide>
                                                                                <div
                                                                                    class="absolute right-0 bottom-0 left-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0"
                                                                                    data-te-carousel-indicators>
                                                                                    <button
                                                                                    type="button"
                                                                                    data-te-target="#carouselExampleCaptions"
                                                                                    data-te-slide-to="0"
                                                                                    data-te-carousel-active
                                                                                    class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                                                                                    aria-current="true"
                                                                                    aria-label="Slide 1"></button>
                                                                                    <button
                                                                                    type="button"
                                                                                    data-te-target="#carouselExampleCaptions"
                                                                                    data-te-slide-to="1"
                                                                                    class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
                                                                                    aria-label="Slide 2"></button>
                                                                                </div>
                                                                                <!-- Carousel image items here -->
                                                                                <div
                                                                                    class="relative w-full overflow-hidden after:clear-both after:block after:content-['']">
                                                                                    <div
                                                                                    class="relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                                                                                    data-te-carousel-active
                                                                                    data-te-carousel-item
                                                                                    style="backface-visibility: hidden">
                                                                                    {% if verification_request.image %}
                                                                                        <img src="{{ vich_uploader_asset(verification_request, 'imageFile') }}" alt="{{ verification_request.itemRequested.name }}" class="object-contain" />
                                                                                    {% endif %}
                                                                                    </div>
                                                                                    <div
                                                                                    class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                                                                                    data-te-carousel-item
                                                                                    style="backface-visibility: hidden">
                                                                                    <img
                                                                                        src="https://tecdn.b-cdn.net/img/Photos/Slides/img%20(22).jpg"
                                                                                        class="block w-full"
                                                                                        alt="..." />
                                                                                </div>
                                                                            </div>
                                                                            <button
                                                                                class="absolute top-0 bottom-0 left-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
                                                                                type="button"
                                                                                data-te-target="#image-carousel"
                                                                                data-te-slide="prev">
                                                                                <span class="inline-block h-8 w-8">
                                                                                <svg
                                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                                    fill="none"
                                                                                    viewBox="0 0 24 24"
                                                                                    stroke-width="1.5"
                                                                                    stroke="currentColor"
                                                                                    class="h-6 w-6">
                                                                                    <path
                                                                                    stroke-linecap="round"
                                                                                    stroke-linejoin="round"
                                                                                    d="M15.75 19.5L8.25 12l7.5-7.5" />
                                                                                </svg>
                                                                                </span>
                                                                                <span
                                                                                class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
                                                                                >Previous</span
                                                                                >
                                                                            </button>
                                                                            <button
                                                                                class="absolute top-0 bottom-0 right-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
                                                                                type="button"
                                                                                data-te-target="#image-carousel"
                                                                                data-te-slide="next">
                                                                                <span class="inline-block h-8 w-8">
                                                                                <svg
                                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                                    fill="none"
                                                                                    viewBox="0 0 24 24"
                                                                                    stroke-width="1.5"
                                                                                    stroke="currentColor"
                                                                                    class="h-6 w-6">
                                                                                    <path
                                                                                    stroke-linecap="round"
                                                                                    stroke-linejoin="round"
                                                                                    d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                                                                                </svg>
                                                                                </span>
                                                                                <span
                                                                                class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
                                                                                >Next</span
                                                                                >
                                                                            </button>
                                                                            </div>
                                                                        </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                                <a type="button" href="{{ path('front_app_verification_request_accept', {id: verification_request.id}) }}" class="inline-block rounded bg-primary px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600">
                                                                    Valider
                                                                </a>
                                                                <a type="button" href="{{ path('front_app_verification_request_refuse', {id: verification_request.id}) }}" class="inline-block rounded bg-primary-100 px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 active:bg-primary-accent-200">
                                                                   Annuler
                                                                </a>
                                                            </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>          
                    </section>
                </main>
            {% endblock %}
        </div>
    </div>
{% endblock %}


