{% extends 'base_back.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div class="flex bg-gray-100 min-h-screen">
        {% block sidebar %}
            {% include '_sidebar.html.twig' %}
        {% endblock %}
        <div class="flex-grow text-gray-800">
            {% block header %}
                {% include '_header.html.twig' %}
            {% endblock %}

            {% block main %}
                <main class="p-6 sm:p-10 space-y-6">
                    <nav class="rounded-md w-full">
                        <ol class="list-reset flex">
                            <li><a href= {{ path('back_app_user_index') }} class="text-purple-600 hover:text-purple-700">Liste</a></li>
                            <li><span class="text-gray-500 mx-2">></span></li>
                            <li class="text-gray-500">Editer</li>
                        </ol>
                    </nav>
                    <div class="flex flex-col space-y-6 md:space-y-0 md:flex-row justify-between"> 
                        <div class="mr-6">
                            <h1 class="text-4xl font-semibold mb-2">Gestion d'utilisateurs</h1>
                            <h2 class="text-gray-600 ml-0.5">Editer l'utilisateur</h2>
                        </div>
                    </div>
                    <section>
                        <div class="flex justify-center">
                            <div class="block p-6 rounded-lg shadow-lg bg-white w-md">
                                {{ form_start(form) }}
                                <div class="form-group mb-6">
                                <label for="nameUser" class="form-label inline-block mb-2 text-gray-700">Nom</label>
                                    {{ form_widget(form.name) }}
                                </div>
                                <div class="form-group mb-6">
                                <label for="emailUser" class="form-label inline-block mb-2 text-gray-700">Email</label>
                                    {{ form_widget(form.email) }}
                                </div>
                                <div class="form-group mb-6">
                                    {% for child in form.roles %}
                                        <div class="form-check form-check-inline">
                                            {{ form_widget(child) }}
                                            {{ form_label(child, null, {'label_attr': {'class': 'form-check-label inline-block mb-2 text-gray-700'}}) }}
                                        </div>
                                    {% endfor %}
                                <div class="form-group mb-6">
                                <label for="passwordUser" class="form-label inline-block mb-2 text-gray-700">Mot de passe</label>
                                    {{ form_widget(form.password) }}
                                </div>
                                {{ form_widget(form.submit, { 'label': 'Valider' }) }}
                            </div>
                        </div>
                    </section>
                </main>
            {% endblock %}
        </div>
    </div>
{% endblock %}
