{% extends 'base.html.twig' %}

{% block title %}Deal index{% endblock %}

{% block body %}
    <h1>Deal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>FirstUserResponse</th>
                <th>SecondeUserResponse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for deal in deals %}
            <tr>
                <td>{{ deal.id }}</td>
                <td>{{ deal.status }}</td>
                <td>{{ deal.firstUserResponse ? 'Yes' : 'No' }}</td>
                <td>{{ deal.secondeUserResponse ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_deal_show', {'id': deal.id}) }}">show</a>
                    <a href="{{ path('app_deal_edit', {'id': deal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_deal_new') }}">Create new</a>
{% endblock %}
