{% extends 'base_back.html.twig' %}

{% block title %}Deals{% endblock %}

{% block body %}
    <div class="flex bg-gray-100 min-h-screen">
        {% block sidebar %}
            {% include 'back/_sidebar.html.twig' %}
        {% endblock %}
        <div class="flex-grow text-gray-800">
            {% block header %}
                {% include 'back/_header.html.twig' %}
            {% endblock %}

            {% block main %}
                <main class="p-6 sm:p-10 space-y-6">
                    <div class="flex flex-col space-y-6 md:space-y-0 md:flex-row justify-between">
                        <div class="mr-6">
                            <h1 class="text-4xl font-semibold mb-2">Gestion de deals</h1>
                            <h2 class="text-gray-600 ml-0.5">Liste</h2>
                        </div>
                    </div>
                    {% block message %}
                        {% include 'back/_message.html.twig' %}
                    {% endblock %}

                    <section>
                        <div class="flex justify-center">
                            <div class="block p-6 rounded-lg shadow-lg bg-white w-lg">
                                <div class="flex flex-col">
                                    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                                        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                                            <div class="overflow-hidden">
                                                <table class="min-w-full">
                                                    <thead class="border-b bg-purple-100">
                                                        <tr>
                                                        <th scope="col" class="text-sm font-medium text-gray-900 px-4 py-2 text-left">
                                                            1er U
                                                        </th>
                                                        <th scope="col" class="text-sm font-medium text-gray-900 px-4 py-2 text-left">
                                                            2ème U
                                                        </th>
                                                        <th scope="col" class="text-sm font-medium text-gray-900 px-4 py-2 text-left">
                                                            Item du 1er U
                                                        </th>
                                                        <th scope="col" class="text-sm font-medium text-gray-900 px-4 py-2 text-left">
                                                            Item du 2ème U
                                                        </th>
                                                        <th scope="col" class="text-sm font-medium text-gray-900 px-4 py-2 text-left">
                                                            Status
                                                        </th>
                                                        <th scope="col" class="text-sm font-medium text-gray-900 px-4 py-2 text-left">
                                                            Réponse du 1er U
                                                        </th>
                                                        <th scope="col" class="text-sm font-medium text-gray-900 px-4 py-2 text-left">
                                                            Réponse du 2ème U
                                                        </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for deal in deals %}
                                                            <tr class="border-b">
                                                            <td class="text-sm text-gray-900 font-light px-4 py-2 whitespace-nowrap">
                                                                {{ deal.firstUser }} (ID : {{ deal.firstUser.id }})
                                                            </td>
                                                            <td class="text-sm text-gray-900 font-light px-4 py-2 whitespace-nowrap">
                                                                {{ deal.secondUser }}  (ID : {{ deal.secondUser.id }})
                                                            </td>
                                                            <td class="text-sm text-gray-900 font-light px-4 py-2 whitespace-nowrap">
                                                                {% if deal.firstUserObject %}
                                                                    {{ deal.firstUserObject }}
                                                                {% else %}
                                                                    Aucun
                                                                {% endif %}
                                                            </td>
                                                            <td class="text-sm text-gray-900 font-light px-4 py-2 whitespace-nowrap">
                                                                {% if deal.secondUserObject %}
                                                                    {{ deal.secondUserObject }}
                                                                {% else %}
                                                                    Aucun
                                                                {% endif %}
                                                            </td>
                                                            <td class="text-sm text-gray-900 font-light px-4 py-2 whitespace-nowrap">
                                                                {{ deal.status }}
                                                            </td>
                                                            <td class="text-sm text-gray-900 font-light px-4 py-2 whitespace-nowrap">
                                                                {{ deal.firstUserResponse ? '<span class="text-xs inline-block py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-green-500 text-white rounded">Accepté</span>' : '<span class="text-xs inline-block py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-yellow-500 text-white rounded">En attente</span>' }}
                                                            </td>
                                                            <td class="text-sm text-gray-900 font-light px-4 py-2 whitespace-nowrap">
                                                                 {{ deal.secondeUserResponse ? '<span class="text-xs inline-block py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-green-500 text-white rounded">Accepté</span>' : '<span class="text-xs inline-block py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-yellow-500 text-white rounded">En attente</span>' }}
                                                            </td>  
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
            {% endblock %}
        </div>
    </div>
{% endblock %}




