{% block title %}

{% endblock %}

{% block body %}
  <div class="flex justify-center flex-wrap">
    {% for item in items %}
      <div class="rounded-lg shadow-lg bg-white max-w-sm ml-6 mr-6 mt-3">
        {% if item.image %}
          <img src="{{ vich_uploader_asset(item, 'imageFile') }}" alt="{{ item.name }}" />
        {% endif %}
        <div class="p-6 mt-6">
          <h5 class="text-gray-900 text-xl font-medium mb-2">{{ item.name }}</h5>
          <div style="width:fit-content" class="text-sm px-3 bg-blue-200 text-blue-800 rounded-full capitalize">{{ item.status }}</div>
          {% if item.isVerified == 1 %}
            <div style="width:fit-content" class="mt-1 text-sm px-3 bg-green-200 text-green-800 rounded-full">Certifié</div>
          {% endif %}
          {% if item.isVerified != 1 %}
            <div style="width:fit-content" class="mt-1 text-sm px-3 bg-red-200 text-red-800 rounded-full">Non certifié</div>
          {% endif %}

          <p class="text-gray-700 text-base my-4 description">{{ item.description }}</p>
          <div class="flex flex-nowrap justify-between">
            <a class="inline-block px-6 py-2.5 bg-gray-600 text-white font-medium text-xs uppercase rounded shadow-md hover:bg-gray-700" href="{{ path('front_app_items_show', { id: item.id }) }}">Voir plus</a>
            <a class="inline-block px-6 py-2.5 bg-gradient-to-r from-indigo-600 to-violet-600 text-white font-medium text-xs uppercase rounded shadow-md shadow-violet-300 hover:shadow-lg hover:shadow-violet-300 focus:ring-0 transition duration-150 ease-in-out" href="{{ path('front_app_items_edit', { id: item.id }) }}">Modifier</a>
            {{ include('front/items/_delete_form.html.twig') }}
          </div>
          {% for category in item.category %}
            <div style="width:fit-content" class="text-sm px-3 bg-indigo-200 text-indigo-800 rounded-full mt-2">{{ category.name }}</div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
