{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
  <h3 class="font-medium leading-tight text-3xl mb-2 text-gray-800 ml-[9rem] mt-[2rem]">Objets de {{ user.name }}</h3>
  <div class="flex justify-center flex-wrap w-1/2 mx-auto rounded-lg" >
    {% if items %}
      {% for item in items %}
        <div class="rounded-lg shadow-lg bg-white max-w-sm ml-6 mr-6 mt-4 mb-4">
        {% if item.image %}
          <img class="rounded-lg m-auto w-[90%] relative top-[5%]" src="{{ vich_uploader_asset(item, 'imageFile') }}" alt="{{ item.name }}" />
        {% else %}
          <img class="rounded-lg m-auto w-[90%] relative top-[5%]" src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" rel="item-picture" />
        {% endif %}          
        <div class="p-6 mt-6">
            <h5 class="text-gray-900 text-xl font-medium mb-2">{{ item.name }}</h5>
            <div style="width:fit-content" class="text-sm px-3 bg-blue-200 text-blue-800 capitalize rounded-full">{{ item.status }}</div>
            {% if item.isVerified == 1 %}
              <div style="width:fit-content" class="mt-1 text-sm px-3 bg-green-200 text-green-800 rounded-full">Certifié</div>
            {% endif %}
            {% if item.isVerified != 1 %}
              <div style="width:fit-content" class="mt-1 text-sm px-3 bg-red-200 text-red-800 rounded-full">Non certifié</div>
            {% endif %}

            <p class="text-gray-700 text-base my-4 description">{{ item.description }}</p>
            {% for category in item.category %}
              <div style="width:fit-content" class="text-sm px-3 mb-4 bg-indigo-200 text-indigo-800 rounded-full mt-2">{{ category.name }}</div>
            {% endfor %}
            <div class="mx-auto flex justify-center">
              <a class="inline-block px-6 py-2.5 bg-gradient-to-r from-indigo-600 to-violet-600 text-white font-medium text-xs uppercase rounded shadow-md" href="{{ path('front_app_deal_new', { item: item.id }) }}">Demander un échange pour cet objet</a>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>Cet utilisateur n'a pas d'objet &#129335;</p>
    {% endif %}
  </div>
{% endblock %}
