{% extends 'base.html.twig' %}

{% block title %}
  Profil
{% endblock %}

{% block body %}
  <div class="md:container md:mx-auto h-96 shadow-lg shadow-indigo-500/20 rounded-lg mt-8">
    Profil Utilisateur
  </div>

  {# 
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Name</th>
                <th>IsEmailVerified</th>
                <th>ProfilPicturePath</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.isEmailVerified ? 'Yes' : 'No' }}</td>
                <td>{{ user.profilPicturePath }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('front_app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('front_app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}

  {# <a href="{{ path('front_app_user_new') }}">Create new</a> #}
{% endblock %}
