{% extends 'base.html.twig' %}

{% block title %}
  Profil
{% endblock %}

{% block body %}
  <div class="sm:container md:mx-auto mt-8 shadow-lg shadow-indigo-500/20 rounded-lg bg-indigo-800">
    <div class="flex md:mx-auto h-screen rounded-lg bg-indigo-800 mt-[4rem]">
      <div class="bg-gray-50 w-1/5 rounded-lg mr-[1rem] ml-[4rem] mt-[4rem] mb-[4rem] shadow-2xl shadow-slate-50/20">
        <div class="rounded-lg m-8 w-48 mx-auto">
          {% if app.user.profilPicturePath %}
            <img class="rounded-lg" src="{{ app.user.profilPicturePath }}" rel="profil-picture" />
          {% endif %}

          {% if app.user.profilPicturePath == null %}
            <img class="rounded-lg" src="https://png.pngtree.com/png-clipart/20210608/ourlarge/pngtree-dark-gray-simple-avatar-png-image_3418404.jpg" rel="profil-picture" />
          {% endif %}
        </div>
        <div class="rounded-lg m-8 w-48 mx-auto">
          <p class="font-semibold">{{ app.user.name }}</p>
          <p class="font-thin">{{ app.user.email }}</p>
          <p>Membre depuis le {{ app.user.createdAt|date('m/d/Y') }}</p>
        </div>
      </div>
      <div class="bg-gray-50 w-4/5 rounded-lg ml-[1rem] mr-[4rem] mt-[4rem] mb-[4rem] shadow-2xl shadow-slate-50/20 h-auto">
        {% include 'front/items/new.html.twig' %}
      </div>
    </div>
  </div>
    
    {# <a href="{{ path('front_app_user_show', {'id': user.id}) }}">show</a>
    <a href="{{ path('front_app_user_edit', {'id': user.id}) }}">edit</a> #}
  {# <a href="{{ path('front_app_user_new') }}">Create new</a> #}
{% endblock %}
